body{
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}


#nav{
background-color: white;

}

.container{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    
}
#logo{
display: inline-block;
margin-top: 20px;
margin-bottom: 20px;
width: 30%;
margin-left: 50px;
}
#menu{
    padding-left: 30px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 20px;
    
    width: 30%;
}
#icons{
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 30%;
}

#showcase{
    width: 100%;
    min-height: 300px;
    background-color: azure;
}
